body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media screen and (max-width: 111px) {

    .logo {
        width: 10px;
    }

    .carrinho {
        width: 5px;
    }


    html {
        font-size: 0.2rem;
    }
}

@media screen and (min-width: 111px) and (max-width: 141px) {

    .logo {
        width: 15px;
    }

    .carrinho {
        width: 10px;
    }

    html {
        font-size: 0.3rem;
    }
}


@media screen and (min-width: 141px) and (max-width: 188px) {

    .logo {
        width: 15px;
    }

    .carrinho {
        width: 15px;
    }

    html {
        font-size: 0.4rem;
    }
}


@media screen and (min-width: 188px) and (max-width: 280px) {

    .logo {
        width: 30px;
    }

    .carrinho {
        width: 20px;
    }

    html {
        font-size: 0.5rem;
    }
}

@media screen and (min-width: 280px) and (max-width: 362px) {

    .logo {
        width: 30px;
    }

    .carrinho {
        width: 20px;
    }

    html {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 362px) {

    .logo {
        width: 50px;
    }

    .carrinho {
        width: 25px;
    }

    html {
        font-size: 1rem;
    }
}